/var/
*~
\#*
.#*
/elpa/
/backups/
/var/auto-save/sessions/*
/dirvish
/undo-fu-session/
/transient/
/.last-package-update-day
/bookmarks
/games/
/ac-comphist.dat
/projects
/tramp
/projectile-bookmarks.eld
/recentf
/url/
/eln-cache/
/elfeed/feeds.org
